
.wrapper{
    background: linear-gradient(to right, #2c004d, #0d0d26);
}
.form-box{
    background: linear-gradient(to right, #4b0082, #191970);
}

.form-box:hover {
    box-shadow: 0px 8px 20px rgb(255, 255, 255);
    transform: translateY(-10px); /* Add some hover effects */
    transition: transform 0.3s ease; /* Add transition for smooth hover effect */
  }
.form-box:active {
    box-shadow: 0px 8px 20px rgb(255, 255, 255);
    transform: translateY(-10px); /* Add some hover effects */
    transition: transform 0.3s ease; /* Add transition for smooth hover effect */
  }