/* /* Currency.css */

  
  .text-primary {
    color: #007bff;
  }
  
  .bg-primary {
    background-color: #007bff;
  }
  
  .bg-primary-dark {
    background-color: #0056b3;
  }
 
  .bg-currency{
    background-image: url('../../img/logo2.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    
  }
  .bg-current::before{
    background-color: limegreen;
  }

  